@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body {
    width: 50%;
    margin: auto;
}

.decision {
    text-align: center;
    color: red;
    display: inline-block;
}

div {
    color: white;
    display: inline-block;
    width: 50%;
    border: 3px solid rgb(189, 189, 189);
    border-radius: 2px;
    border-spacing: 3px;
    padding: 15px;
    background-color:rgba(153, 0, 255, 0.534);
    padding-left: 25%;
}

span {
    text-align: center;
    text-align: justify;
    font-family: Rubik, open-sans, sans-serif;
}
