@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gajraj+One&display=swap');

body {
    width: 50%;
    margin: auto;
}

header {
    color: red;
}

.decision {
    text-align: center;
    color: red;
    display: block;
    font-size: 40px;
}

div {
    display: block;
    width: 75%;
    padding-left: 50%;
    margin: auto;
    border: 3px solid rgb(189, 189, 189);
    border-radius: 2px;
    border-spacing: 3px;
    background-color:rgba(153, 0, 255, 0.534);
    padding: 10px;
    font-size: 20px;
    font-family: Gajraj One, sans-serif, open-sans;
    color: yellow;

}

span {
    text-align: center;
    text-align: justify;
    font-family: Bebas Neue, sans-serif, open-sans;
}

h1 {
    font-family: Bebas Neue, open-sans, sans-serif;
    text-align: center;
}

#user-options {
    border: none;
    background-color: transparent;
}

#play {
    font-family: Bebas Neue, open-sans, sans-serif;
    font-size: 40px;
    color: yellow;
    background-color:rgba(153, 0, 255, 0.534);
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 30px;
    }

    .decision {
        font-size: 30px;
    }

    #play {
        font-size: 30px;
    }

    div {
        font-size: 15px;
    }
}

@media only screen and (max-width: 550px){

    h1 {
        font-size: 20px;
    }

    .decision {
        font-size: 20px;
    }

    #play {
        font-size: 20px;
    }

    div {
        font-size: 10px;
    }

}

